# Bot
/lcy.cfg
lcy.pid

# Secondary Bots
/bots/lunabot.cfg
/bots/rainbowbot.cfg

# Web site
*node_modules
*.cache
/web/www/assets/c/*

# Other stuff
/bak

# Composer
/vendor/
composer.lock

# Private Keys
config.json
